# Notion CMS
NOTION_TOKEN=
NOTION_DB_CURRICULUM_43=
NOTION_DB_CURRICULUM_42=
NOTION_DB_ALUMNI=
NOTION_DB_AWARDS=
NOTION_DB_TEAMS=

# Site
SITE_URL=https://yonseivery.com
RECRUIT_OPEN=false
RECRUIT_FORM_URL=
CONTACT_FORM_TO_EMAIL=yonseivery1997@gmail.com

# Revalidate secret
REVALIDATE_SECRET=

# (Optional, for contact form email send)
RESEND_API_KEY=
